#gradients
  .gradients
     &__panel {
       width 100%
       display inline-block
     }

.gradient_options
  &__container {
    padding: 0 10px 0 10px;
  }
  font-size: 1.25em
  .button_group
    padding 4px 0 10px 0
    .radio_inline__label {
      marging 0 3px 0 3px;
    }
 .preview {
   &__canvas {
     height 250px
   }
   .panel-title {
     top: 1px
   }
 }

.gradient_stops {
  font-size 1.25em

  &__icon {
    width: auto;
    padding-left: 0px;
  }
  &__row {
    padding-top: 3px;
  }
  &__row:last-of-type {
    padding-bottom: 6px;
  }
}




