#gradients
  .gradients
     &__panel {
       width 100%
       display inline-block
     }

.gradient_options
  &__container {
    padding: 0 10px 0 10px;
  }
  font-size: 1.25em
  .button_group
    padding 4px 0 10px 0
    .radio_inline__label {
      marging 0 3px 0 3px;
    }
 .preview {
   &__canvas {
     height 250px
   }
   .panel-title {
     top: 1px
   }
 }

.gradient_stops {
  font-size 1.25em

  &__icon {
    width: auto;
    padding-left: 0px;
  }
  &__row {
    padding-top: 3px;
  }
  &__row:last-of-type {
    padding-bottom: 6px;
  }
}

.gradient-presets {
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__items {
    flex: 0 1 15%;
    margin: 3px;
    white-space: normal;
  }

    .preset {
      width: 40px;
      height: 40px;
      margin: 0 5px 0 5px;
      border: 1px solid white;
      cursor: pointer;
      &:hover {
        border: 1px solid grey;
      }
      &:active {
        border: 1px solid black;
      }
    }
}




