body
  background: #FFF;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial
  box-sizing border-box
  font-size: 14px
label {
  font-weight: 400;
}

.footer
   .copyright
     width: 100%;
     ackground-color #00b3ee;

.header
  .nav
      height 40px
      ul
        display inline-block
        position absolute
        right 30px
        li
          display inline-block
          border 2px solid orange
          margin: -3px
          padding: 5px 10px 5px 10px
          &:first-child
            border-radius 5px 0 0 5px
          &:last-child
            border-radius 0 5px 5px 0


  a
    text-decoration none
    color orange

.button-group {
  display: flex
  flex-wrap: wrap;
  justify-content: flex-start;
}
.button-group .flex-item {
  flex: 0 1 23%;
  margin: 3px;
  white-space: normal;
}
