#gradients .gradients__panel {
  width: 100%;
  display: inline-block;
  min-height: 300px;
}
#gradients .panel-heading {
  background-color: #000;
}
#gradients .sub-header {
  margin-top: 30px;
  margin-bottom: 30px;
}
.gradient_options {
  font-size: 1.25em;
}
.gradient_options__container {
  padding: 0 10px 0 10px;
}
.gradient_options .button_group {
  padding: 4px 0 10px 0;
}
.gradient_options .button_group .radio_inline__label {
  marging: 0 3px 0 3px;
}
.preview__canvas {
  height: 250px;
}
.preview .panel-title {
  top: 1px;
}
.gradient_stops {
  font-size: 1.25em;
}
.gradient_stops__icon {
  width: auto;
  padding-left: 0px;
}
.gradient_stops__row {
  padding-top: 3px;
}
.gradient_stops__row:last-of-type {
  padding-bottom: 6px;
}
.gradient-presets__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.gradient-presets__items {
  flex: 0 1 15%;
  margin: 3px;
  white-space: normal;
}
.gradient-presets .preset {
  width: 100px;
  height: 100px;
  margin: 0 5px 0 5px;
  border: 1px solid #fff;
  cursor: pointer;
}
.gradient-presets .preset:hover {
  border: 1px solid #808080;
}
.gradient-presets .preset:active {
  border: 1px solid #000;
}

body {
  background: #fff;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  box-sizing: border-box;
  font-size: 14px;
}
label {
  font-weight: 400;
}
.footer .copyright {
  width: 100%;
  ackground-color: #00b3ee;
}
.header,
.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.button-group .flex-item {
  flex: 0 1 23%;
  margin: 3px;
  white-space: normal;
}
