#gradients .panel {
  border: 1px solid #444;
  border-radius: 3px 3px 3px 3px;
}
#gradients .panel .panel-title {
  color: #444;
  background-color: #ccc;
  border: 1px solid #444;
  border-radius: 3px 0 3px 0;
  padding: 2px 4px 2px 4px;
  position: relative;
  top: 2px;
  border-top-style: none;
  border-left-style: none;
}
#gradients .panel .content {
  padding: 25px 10px 10px 10px;
}
#gradients .gradients__panel {
  width: 100%;
  display: inline-block;
}
.gradient_options .button_group {
  padding: 4px 0 20px 0;
  margin: 0 -3px;
}
.preview__canvas {
  height: 250px;
}
.gradient_stops {
  font-size: 1.25em;
}
.gradient_stops .table_wrapper {
  height: 12em;
  padding: 0 10px 0 10px;
}
.gradient_stops .input-lg {
  height: 2em;
  width: 10em;
}
.gradient_stops .column {
  float: left;
  width: 40%;
  display: inline-block;
}
.gradient_stops .column:first-child {
  padding-top: 0;
}
.gradient_stops .sm {
  width: 20%;
}
.gradient_stops .row {
  padding-top: 15px;
  margin-right: 0;
  margin-left: 0;
}

body {
  background: #fff;
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
  box-sizing: border-box;
}
.footer .copyright {
  width: 100%;
  background-color: #00b3ee;
}
.header .nav {
  height: 40px;
}
.header .nav ul {
  display: inline-block;
  position: absolute;
  right: 30px;
}
.header .nav ul li {
  display: inline-block;
  border: 2px solid #ffa500;
  margin: -3px;
  padding: 5px 10px 5px 10px;
}
.header .nav ul li:first-child {
  border-radius: 5px 0 0 5px;
}
.header .nav ul li:last-child {
  border-radius: 0 5px 5px 0;
}
.header a {
  text-decoration: none;
  color: #ffa500;
}
.label {
  color: #000;
  font-size: 15;
}
