<gradients.panel panel-title="Gradient Options">
    <section class="gradient_selector">
      <span class="label">Gradient Style:</span>
      <div class="button_group">
        <input type="radio" name="gradientType" value="{{::model.gradientStyles[0]}}" ng-click="gradient.gradientStyle = model.gradientStyles[0]" checked>{{::model.gradientStyles[0]}}</input>
        <input type="radio" name="gradientType" value="{{::model.gradientStyles[1]}}" ng-click="gradient.gradientStyle = model.gradientStyles[1]">{{::model.gradientStyles[1]}}</input>
      </div>
    </section>

    <section ng-show="gradient.gradientStyle == model.gradientStyles[0]">
      <gradients.buttonbar selected-item-change="linearGradientTypeChanged"
              dataprovider="{{::model.linearGradientDirections}}"></gradients.buttonbar>
    </section>
    <section ng-show="gradient.gradientStyle == model.gradientStyles[1]">
      <label>Gradients Position</label>
        <gradients.buttonbar selected-item-change="radialGradientPositionChange"
                             dataprovider="{{::model.radialGradientPositions}}"></gradients.buttonbar>
      <label>Sizes</label>
        <gradients.buttonbar selected-item-change="radialGradientSizeChange"
                             dataprovider="{{::model.radialGradientSizes}}"></gradients.buttonbar>
    </section>
</gradients.panel>


