<gradients.panel panel-title="Gradient Options">
    <section class="gradient_selector">
      <span class="label">Gradient Style:</span>
      <div class="button_group">
        <input type="radio" name="gradientType" value="{{::data.gradientStyles[0].name}}" ng-click="gradient.gradientStyle = data.gradientStyles[0].name" checked>{{::data.gradientStyles[0].name}}</input>
        <input type="radio" name="gradientType" value="{{::data.gradientStyles[1].name}}" ng-click="gradient.gradientStyle = data.gradientStyles[1].name">{{::data.gradientStyles[1].name}}</input>
      </div>
    </section>

    <section ng-show="gradient.gradientStyle == data.gradientStyles[0].name">
      <gradients.buttonbar selected-item-change="linearGradientTypeChanged"
              dataprovider="{{::data.linearGradientDirections}}"></gradients.buttonbar>
    </section>
    <section ng-show="gradient.gradientStyle == data.gradientStyles[1].name">
      <label>Gradients Position</label>
        <gradients.buttonbar selected-item-change="radialGradientPositionChange"
                             dataprovider="{{::data.radialGradientPositions}}"></gradients.buttonbar>
      <label>Sizes</label>
        <gradients.buttonbar selected-item-change="radialGradientSizeChange"
                             dataprovider="{{::data.radialGradientSizes}}"></gradients.buttonbar>
    </section>
</gradients.panel>


