
<div class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="vm.closePopup()" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{vm.title}}</h4>
			</div>
			<div class="modal-body">
				<span>{{vm.body}}</span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-lg" ng-click="vm.closePopup()" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>
	</div>
</div>